@using QL_ThuVIenHUIT_13.Models
@{
    var lst = Session["DsSachMuon"] as List<SachMuonTam>;
}
<table class="table table-hover align-middle">
    <thead class="table-light">
        <tr>
            <th>Mã sách</th>
            <th>Tên sách</th>
            <th class="text-center">SL</th>
            <th class="text-end">Xóa</th>
        </tr>
    </thead>
    <tbody>
        @if (lst != null && lst.Any())
        {
            foreach (var item in lst)
            {
                <tr>
                    <td><b>@item.MaSach</b></td>
                    <td>@item.TenSach</td>
                    <td class="text-center">@item.SoLuong</td>
                    <td class="text-end">
                        <button type="button" class="btn btn-link text-danger p-0" onclick="removeBook('@item.MaSach')">
                            <i class="fa fa-times-circle fs-5"></i>
                        </button>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr><td colspan="4" class="text-center py-4 text-muted small fst-italic">Chưa có sách nào được chọn</td></tr>
        }
    </tbody>
</table>