
@{
    ViewBag.Title = "Huongdan_SD_PhongHop";
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hướng dẫn sử dụng phòng họp</title>
    <style>
        .note 
        {
            line-height: 1.8;
            font-size: 16px;
        }

        td{
            border:1px solid grey;
            padding: 10px;
        }
        tr {
            border: 1px solid gray;
        }
    </style>
</head>
<body>
    <div class="container" style="width:90%"> 
        <h3 style="margin:10px;text-align:center" class="text-danger">HƯỚNG DẪN SỬ DỤNG PHÒNG HỌP</h3>
        <div class="row" style="margin-top:30px">
            <div class="col-8">
                <div class="note">
                    <strong>Hướng dẫn đăng ký</strong><br><br>
                    <strong>Bước 1:</strong> Đăng ký sử dụng phòng học nhóm, phòng thuyết trình,... của Thư viện trực tiếp tại Quầy thông tin, hoặc đăng ký trực tuyến tại Quầy thông tin, hoặc đăng ký trực tuyến tại địa chỉ  <span> <a href="https://thuvien.hut.edu.vn" target="_blank">Thư viện Trường Đại Học Công Thương TP.HCM</a></span> chọn "ĐẶT PHÒNG".<br><br>
                    <strong>Bước 2:</strong> Nhận kết quả đặt phòng: Buổi sáng từ 9g00 - 10g00; Buổi chiều từ 14g00 - 15g00 qua địa chỉ email mà người đăng ký cung cấp khi đặt phòng.<br><br>
                    <strong>Bước 3:</strong> Đến trực tiếp Quầy thông tin Lầu 3/Lầu 4 để thực hiện thủ tục mượn/trả phòng (Người sử dụng kiểm tra thiết bị có trong phòng khi nhận và trả, tắt máy lạnh, đèn trước khi rời khỏi phòng)<br><br>
                    <strong>Lưu ý</strong><br>
                    • Kết quả đặt phòng sẽ bị hủy trong trường hợp người đặt đến trễ trên 15 phút so với thời gian đăng ký.<br>
                    • Người sử dụng có thể tự hủy kết quả đăng ký trên giao diện đặt phòng hoặc bằng cách thông báo cho cán bộ phụ trách thông qua email thuvien@huit.edu.vn (07) 117 3837<br>
                    • Thời gian sử dụng sẽ được tính bằng thời gian kết thúc giao dịch trừ cho thời gian bắt đầu thực hiện giao dịch.<br>
                    • Để có thể đáp ứng dùng như nhau, người sử dụng vui lòng đăng ký sớm cho Thư viện.
                </div>
            </div>
            <div class="col-4">
                <table style="border:1px solid grey">
                    <tr  style="background-color:lightgray">
                        <td colspan="2" style="font-weight:bolder">
                            Thông tin phòng họp
                        </td>
                    </tr>
                    <tr>
                        <td style="font-weight:bolder">Số lượng</td>
                        <td>4</td>
                    </tr>
                    <tr>
                        <td style="font-weight:bolder">Vị trí</td>
                        <td>Tầng 3</td>
                    </tr>
                    <tr>
                        <td style="font-weight:bolder">Số lượng chỗ ngồi</td>
                        <td>8 - 12 người</td>
                    </tr>
                    <tr>
                        <td style="font-weight:bolder">Thời gian sử dụng tối đa</td>
                        <td>2h/lượt được gia hạn </td>
                    </tr>
                </table>
            </div>
           
        </div>
    </div>
</body>
</html>
