@{
    ViewBag.Title = "Đăng ký thành công";
}

<h2>Đăng ký mở thẻ thành công</h2>
<p>Mã thẻ của bạn: <strong>@ViewBag.Mathe</strong></p>

<a href="@Url.Action("SignIn","Reader")">Quay lại đăng nhập</a>
