
@{
    ViewBag.Title = "SignIn";
    Layout = null;
}

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <style>
        body 
        {
            background-image: url('/images/AnhThuVien_SignIn1.png') ;
            background-repeat:no-repeat;
            background-size:cover;
            background-position:center;

        }
        .login-box 
        {
            border-radius: 20px;
            box-shadow: 0 4px 20px rgba(0,0,0,0.25);
        }

        .form-control 
        {
            border-radius: 25px;
        }

        .btn 
        {
            border-radius: 20px;
        }

        .logo 
        {
            width: 60px;
        }
    </style>

</head>
<body class="container justify-content-center align-items-center vh-100">
        <div class="login-container mt-4" style=" margin:auto;max-width:430px;justify-items:center">
            <div class="card shadow-lg p-3">
                <div class="row" style=" margin-top:10px;margin-bottom:10px">
                    <img class="col-2" src="~/images/logo.jpg" style="width:70px; height: 45px" />
                    <p class="col-10" style="font-size: 14px; font-weight: bolder; color: #0e56a0;">THƯ VIỆN TRƯỜNG ĐẠI HỌC CÔNG THƯƠNG THÀNH PHỐ HỒ CHÍ MINH</p>

                </div>
                <div style="max-width:380px;margin:0 auto;padding:15px">
                    @using (Html.BeginForm("SigninSubmit", "Reader", FormMethod.Post))
                    {

                        <div class="mb-3" style="margin-bottom:15px">
                            <input type="text" placeholder="Tên đăng nhập" name="Username" class="form-control w-100" id="Username" required>
                        </div>
                        <div class="mb-3" style="margin-bottom:15px">
                            <input type="password" name="Password" placeholder="Mật khẩu" class="form-control w-100" id="Password" required>
                        </div>
                        if (Session["Error"] != null)
                        {
                            <h6 style="color:red">@Session["Error"]</h6>
                        }
                        <div class="mb-3" style="margin-bottom:15px">
                            <input type="checkbox" name="Remember_me" value="1" id="Remember_me">
                            <label for="Remember_me" style="margin-left:10px">Tự đăng nhập lần sau</label>
                        </div>

                        <div style="text-align:center;margin-top:20px">
                            <button type="submit" class="btn w-40 mb-3" style="border-radius: 40px; width: 150px; color: white; background-color: #42ADF9; margin-right:20px ">Quên mật khẩu</button>
                            <button type="submit" class="btn w-40 mb-3" style="border-radius: 40px; width: 150px; color: white; background-color: #42ADF9 ">Đăng nhập</button>
                        </div>

                        <p class="text-center">
                            Bạn chưa có thẻ thư viện? <a href="@Url.Action("","Reader")" class="text-decoration-none fw-bold" style="color:#42ADF9;font-size:14px">Đăng ký mở thẻ</a>
                        </p>
                    }
                </div>
            </div>
        </div>


</body>
</html>
