
@{
    ViewBag.Title = "ThanhCong";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center;color:green">
    Đặt phòng thành công! đang in phiếu đặt phòng vui lòng chờ.....
</h2>

<div style="text-align:center;margin-top:20px">
    <a href="@Url.Action("LichSuDatPhong", "Phong")"
       class="btn btn-success">
        OK
    </a>
</div>


